<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignLingo</title>
  <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>

  <div class="container">
    <h1>SignLingo</h1>

    <div class="row">
      <div id="videoContainer">
        <h2>Video Feed</h2>
        <img src="{{ url_for('video_feed', curr= 'thumbs_up') }}" alt="Video" id="videoFeed">
      </div>

      <div id="wordContainer">
        <h2>Word</h2>
        <img id="wordImage" src="../static/asl_images/thumbs_up.jpg" alt="Description">
        <h2 id="score">Score :0</h2>
      </div>

      <div id="scoreChangePopup" class="popup" style="display: none;">
        <p id="popupText"></p>
        <button onclick="incrementCounter()">Next Word</button>
      </div>
      
    </div>



  </div>

  <script>


    const imagePaths = [
      "../static/asl_images/asl.jpg",
      "../static/asl_images/test.jpg",
      "../static/asl_images/thumbs_up.jpg",
      "../static/asl_images/thumbs_down.jpg",
      "../static/asl_images/stop.jpg"

    ]

    var image_dict = {
      thumbs_up : "../static/asl_images/thumbs_up.jpg",
      thumbs_down: "../static/asl_images/thumbs_down.jpg",
      stop: "../static/asl_images/stop.jpg"
    }

    let imageIndex = 0

    function updateScore() {
      fetch('/get_score')
        .then(response => response.json())
        .then(data => {
          // Update the score on the webpage
          const scoreElement = document.getElementById('score');
          const currentScore = parseInt(scoreElement.innerText.split(':')[1].trim(), 10);
          const newScore = data.score;

          if (newScore !== currentScore) {
            // Display popup when the score changes
            displayPopup(`Good Job!! Score: ${newScore}`);
            // Update the score on the webpage
            scoreElement.innerText = `Score: ${newScore}`;

          }
        })
        .catch(error => console.error('Error:', error));
    }

    function displayPopup(text) {
      // Display the popup
      const popup = document.getElementById('scoreChangePopup');
      const popupText = document.getElementById('popupText');
      popupText.innerText = text;
      popup.style.display = 'block';
    }

    function closePopup() {
      // Close the popup when the OK button is clicked
      const popup = document.getElementById('scoreChangePopup');
      popup.style.display = 'none';
    }

    setInterval(updateScore, 1000);

    function nextWord() {
      const wordImage = document.getElementById('wordImage');
      imageIndex = (imageIndex + 1) % imagePaths.length;
      wordImage.src = imagePaths[imageIndex];
    }
    function updateVideoFeed(currValue) {
        document.getElementById('videoFeed').src = "{{ url_for('video_feed', curr='') }}" + currValue;
    }

    function incrementCounter() {
      fetch('/button/')
        .then(response => response.text())
        .then(data => {
          const imageName = data.trim();
          if (image_dict.hasOwnProperty(imageName)) {
            const wordImage = document.getElementById('wordImage');
            wordImage.src = image_dict[imageName];
            updateVideoFeed(imageName)
            closePopup()
          } else {
            console.error('Invalid image name:', imageName);
          }
        })
        .catch(error => console.error('Error:', error));
    }
  </script>

</body>

</html>