<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignLingo</title>
  <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

  <body>
    <h1>SignLingo</h1>

    <h1>Video feed</h1>
    <img src="{{ url_for('video_feed') }}" width="640" height="480" alt="Video">



  <div>
    <h2>Word</h2>
    <img id="wordImage" src="../static/asl_images/asl.jpg" alt="Description" width="640" height="480"></img>
    <button onclick="nextWord()" class="next">Next</button>
  </div>

  <script>

    const imagePaths = [
      "../static/asl_images/asl.jpg",
      "../static/asl_images/test.jpg"
    ]

    let imageIndex = 0

    function nextWord() {
      const wordImage = document.getElementById('wordImage');

      // Increment the index or reset to 0 if it reaches the end of the array
      imageIndex = (imageIndex + 1) % imagePaths.length;

      // Update the src attribute with the new image path
      wordImage.src = imagePaths[imageIndex];
    }
  </script>

</body>

</html>